<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <title>Consume Rest Api</title>
  </head>
  <body>
    <!-- <h2>Problems Tagged with "{{ tag }}"</h2> -->
      <div class="container-fluid p-2 bg-primary text-white text-center">
          <h1>Users</h1>
      </div>
      <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>index</th>
                    <th>name</th>
                    <th>tags</th>
                    <th>rating</th>
                    <th>link</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in problems %}
                    <tr>
                        <td>{{ problem.contestId }}</td>
                        <td>{{ problem.index }}</td>
                        <td>{{ problem.name }}</td>
                        <!-- {% for i in problem.tags %}
                        {% if i == 'binary search' %}
                        <td>{{ i }}</td>
                        {% else %}
                        <td>{{ i }}</td>
                        {% endif %}
                        {% endfor %} -->
                        
                        {% if problem.tags %}
                            <td>{{ problem.tags }}</td>
                        {% else %}
                        <td>No Tags </td>
                        {% endif %}
                        <td>{{ problem.rating }}</td>
                        <td>
                        {% if problem.contestId and problem.index %}
                        <a href="https://codeforces.com/problemset/problem/{{ problem.contestId }}/{{ problem.index }}" target="_blank">
                            View Problem
                        </a>
                    {% else %}
                        No Link Available
                    {% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   </div>
   </body>
</html>